---
import CardProyect from '../components/CardProyect.astro';
import Inicio from '../components/Inicio.astro';
import Layout from '../layouts/Layout.astro';
import { proyectos } from '../lib/proyectos.js'

---

<Layout title="Welcome to Astro.">
	<Inicio />
	<div class=" h-screen"></div>
</Layout>
