---
import ItemContacto from "@/components/ItemContacto.astro"
import Formulario from "@/components/Formulario.astro"
import Linkedin from "@/img/LinkedinImg.astro"
import Github from "@/img/Github.astro"
import Correo from "@/img/MailImg.astro"
import PuntosContact from "@/img/PuntosContact.astro"
import ManchaContact from "@/img/ManchaContact.astro"
---

<section
    id="contacto"
    class=" mt-28"
>
    <main>
        <h2
            class=" relative pb-2 mb-14 text-4xl font-['MuseoModerno'] before:content-[''] before:w-[140px] before:h-[3px] before:rounded before:bg-[#FF6025] before:absolute before:bottom-0 before:left-0 font-bold text-stone-900"
        >
            Contáctame
        </h2>

        <div>
            <Formulario />
        </div>

        <div class="">

            <PuntosContact />
            <ManchaContact />

            <ul>
                <ItemContacto
                    link="https://www.linkedin.com/in/andres-mila/"
                >
                    <Linkedin />
                    <span>Linkedin</span>
                </ItemContacto>

                <ItemContacto
                    link="https://github.com/ZackAMC"
                >
                    <Github />
                    <span>GitHub</span>
                </ItemContacto>

                <ItemContacto
                    link="mailto:andresmila01@gmail.com"
                >
                    <Correo />
                    <span>Correo</span>
                </ItemContacto>
            </ul>
        </div>

    </main>
</section>