---
import linkedin from "@/img/LinkedinImg.astro"
import whatsapp from "@/img/WhatsAppImg.astro"
import correo from "@/img/MailImg.astro"
---

<section
    id="contacto"
    class=" mt-28"
>
    <main>
        <h2
            class=" relative pb-2 mb-14 text-4xl font-['MuseoModerno'] before:content-[''] before:w-[140px] before:h-[3px] before:rounded before:bg-[#FF6025] before:absolute before:bottom-0 before:left-0 font-bold text-stone-900"
        >
            Contáctame
        </h2>

        <div class="contForm">
            <form>
                <label>
                    <span></span>
                    <input type="text">
                </label>
                <label>
                    <span></span>
                    <input type="tel">
                </label>
                <label>
                    <span></span>
                    <input type="email">
                </label>
                <label>
                    <span></span>
                    <textarea></textarea>
                </label>
            </form>
        </div>
    </main>
</section>