---

---

<form>
    <label>
        <span>Nombre</span>
        <input type="text" name="nombre">
    </label>
    <label>
        <span>Teléfono</span>
        <input type="tel" name="telefono">
    </label>
    <label>
        <span>Correo</span>
        <input type="email" name="correo">
    </label>
    <label>
        <span>Mensaje</span>
        <textarea name="mensaje"></textarea>
    </label>
    <button>Enviar</button>
</form>