---
import { Picture } from "astro:assets"
import ManchaIzqNa from "@/img/ManchaIzqNa.astro"
import ManchaIzqNe from "@/img/ManchaIzqNe.astro"
import PuntosIzq from "@/img/PuntosIzq.astro"
import ManchaDerNa from "@/img/ManchaDerNa.astro"
import ManchaDerNe from "@/img/ManchaDerNe.astro"
import PuntosDer from "@/img/PuntosDer.astro"
import logo from "@/img/logo.png"
---

<section
    id="home"
    class=" h-[80vh] md:h-screen relative flex justify-center items-center"
>

    <ManchaIzqNa />
    <ManchaIzqNe />
    <PuntosIzq />

    <main class="flex flex-col items-center">
        <Picture
            src={logo}
            formats={['png']}
            alt="Logo Zack developer"
            id="logoAnim"
            class="ease-in-out"
        />
        <div class="w-[250px] mt-5 text-black font-['MuseoModerno']">
            <p id="textoAnimado" class="border-b-2 border-gray-200 border-dashed ease-in-out">Desarrollador Front-End</p>
            <p id="textoAnimadoDos" class=" ease-in-out">Ilustrador</p>
        </div>
    </main>

    <ManchaDerNa />
    <ManchaDerNe />
    <PuntosDer />
</section>


<script>

    function scrollParallax() {

        const narIzq = document.getElementById(`narIzq`)
        const negIzq = document.getElementById(`negIzq`)
        const puntosIzq = document.getElementById(`puntosIzq`)

        const narDer = document.getElementById(`narDer`)
        const negDer = document.getElementById(`negDer`)
        const puntosDer = document.getElementById(`puntosDer`)
        
        const logoAnim = document.getElementById(`logoAnim`)
        const textoAnimado = document.getElementById(`textoAnimado`)
        const textoAnimadoDos = document.getElementById(`textoAnimadoDos`)

        

        window.addEventListener('scroll', ()=>{

            let scroll = window.scrollY
            let scrollDecimal = ((scroll * 4) / 1000)

            let scrollDecimalDos = ((scroll * 3) / 1000)
            let scrollDecimalTres = ((scroll * 2) / 1000)
            
            
            narIzq.style.transform = `translateX(-${scroll * 0.5}px)`
            negIzq.style.transform = `translateX(-${scroll * 1}px)`
            puntosIzq.style.transform = `translateX(-${scroll * 1.5}px)`

            narDer.style.transform = `translateX(${scroll * 0.5}px)`
            negDer.style.transform = `translateX(${scroll * 1}px)`
            puntosDer.style.transform = `translateX(${scroll * 1.5}px)`

            logoAnim.style.transform = `translateY(-${scroll * 0.3}px)`
            logoAnim.style.opacity = `${1 - scrollDecimal}`

            textoAnimado.style.transform = `translateY(-${scroll * 0.2}px)`
            textoAnimado.style.opacity = `${1 - scrollDecimalDos}`

            textoAnimadoDos.style.transform = `translateY(-${scroll * 0.1}px)`
            textoAnimadoDos.style.opacity = `${1 - scrollDecimalTres}`

        })
    }
    
    scrollParallax()


</script>

