---
import Logo from "@/img/Logo.astro"
import ManchaIzqNa from "@/img/ManchaIzqNa.astro"
import ManchaIzqNe from "@/img/ManchaIzqNe.astro"
import PuntosIzq from "@/img/PuntosIzq.astro"
import ManchaDerNa from "@/img/ManchaDerNa.astro"
import ManchaDerNe from "@/img/ManchaDerNe.astro"
import PuntosDer from "@/img/PuntosDer.astro"
---

<section
    id="home"
    class="h-screen relative flex justify-center items-center"
>
    <ManchaIzqNa />
    <ManchaIzqNe />
    <PuntosIzq />
    <main class="flex flex-col items-center">
        <Logo />
        <div class="w-[250px] mt-5 text-black">
            <p>Desarrollador Front-End</p>
            <p>Ilustrador</p>
        </div>
    </main>
    <ManchaDerNa />
    <ManchaDerNe />
    <PuntosDer />
</section>