---
import Logo from "@/img/Logo.astro"
import ManchaIzqNa from "@/img/ManchaIzqNa.astro"
import ManchaIzqNe from "@/img/ManchaIzqNe.astro"
import PuntosIzq from "@/img/PuntosIzq.astro"
import ManchaDerNa from "@/img/ManchaDerNa.astro"
import ManchaDerNe from "@/img/ManchaDerNe.astro"
import PuntosDer from "@/img/PuntosDer.astro"
---

<section id="home" class="h-screen relative">
    <ManchaIzqNa />
    <ManchaIzqNe />
    <PuntosIzq />
    <main>
        <Logo />
    </main>
    <ManchaDerNa />
    <ManchaDerNe />
    <PuntosDer />
</section>


