---
interface Props {
    link: string
}
const { link } = Astro.props
---
<li class="">
    <a
        href={link}
        target="_blank"
        class="flex p-3 text-white border-solid border-white pl-5 rounded-lg transition-all hover:bg-[#1c1c1c]"
    >
        <slot />
    </a>
</li>