---
import IconHome from "@/icons/IconHome.astro"
import IconUser from "@/icons/IconUser.astro"
import IconStar from "@/icons/IconStar.astro"
import IconMail from "@/icons/IconMail.astro"
---

<ul>
    <li><a href="/home"><IconHome /></a></li>
    <li><a href="/sobre-mi"><IconUser /></a></li>
    <li><a href=""><IconStar /></a></li>
    <li><a href=""><IconMail /></a></li>
</ul>