<div class="">
    <svg
        width="349"
        height="669"
        viewBox="0 0 349 669"
        fill="none"
    >
        <path d="M96.6261 616.48C-5.42335 723.307 -278.071 665.832 -291.802 432.652C-305.533 199.472 -89.8929 174.673 -59.8455 48.5148C-29.7981 -77.6433 128.824 -124.822 218.661 -30.9994C308.498 62.823 225.035 128.453 257.435 216.92C289.835 305.387 371.069 326.185 342.239 421.059C313.409 515.932 198.676 509.654 96.6261 616.48Z" fill="url(#paint0_linear_49_2875)"/>
        <defs>
            <linearGradient id="paint0_linear_49_2875" x1="-24.8059" y1="498.845" x2="167.698" y2="-4.14077" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF6025"/>
                <stop offset="1" stop-color="#FF8540"/>
            </linearGradient>
        </defs>
    </svg>
</div>


