<div class="absolute top-1/2 right-0 z-[-3] translate-x-[30%] translate-y-[-50%]">
    <svg
        width="608"
        height="720"
        viewBox="0 0 608 720"
        fill="none"
    >
        <path d="M572.6 97.1975C515.287 -11.1686 415.535 -38.418 376.43 69.173C337.325 176.764 341.634 321.948 212.367 327.878C83.1008 333.809 -66.3041 468.361 32.4515 604.067C131.207 739.774 459.812 770.232 537.017 614.253C614.222 458.274 629.913 205.564 572.6 97.1975Z" fill="url(#paint0_linear_49_2855)"/>
        <defs>
            <linearGradient id="paint0_linear_49_2855" x1="466.56" y1="12.8372" x2="-55.22" y2="349.2" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF6025"/>
                <stop offset="1" stop-color="#FF8540"/>
            </linearGradient>
        </defs>
    </svg>
</div>