<div class="absolute z-[-3] top-0 right-0 translate-x-[80%] translate-y-[5%] lg:translate-x-[50%] xl:translate-x-[30%]">
    <div id="narDer">
        <svg
            width="608"
            height="720"
            viewBox="0 0 608 720"
            fill="none"
        >
            <path d="M572.6 97.1975C515.287 -11.1686 415.535 -38.418 376.43 69.173C337.325 176.764 341.634 321.948 212.367 327.878C83.1008 333.809 -66.3041 468.361 32.4515 604.067C131.207 739.774 459.812 770.232 537.017 614.253C614.222 458.274 629.913 205.564 572.6 97.1975Z" fill="url(#paint0_linear_49_2855)"/>
            <defs>
                <linearGradient id="paint0_linear_49_2855" x1="466.56" y1="12.8372" x2="-55.22" y2="349.2" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF6025"/>
                    <stop offset="1" stop-color="#FF8540"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>

<style>
    @keyframes flujo{
        0%{
            transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -webkit-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -moz-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -ms-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -o-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
        }
        50%{
            transform: translateX(40%) translateY(50%) rotate(-180deg) scale(1.2);
            -webkit-transform: translateX(40%) translateY(50%) rotate(-180deg) scale(1.2);
            -moz-transform: translateX(40%) translateY(50%) rotate(-180deg) scale(1.2);
            -ms-transform: translateX(40%) translateY(50%) rotate(-180deg) scale(1.2);
            -o-transform: translateX(40%) translateY(50%) rotate(-180deg) scale(1.2);
        }
        100%{
            transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -webkit-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -moz-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -ms-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -o-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
        }
    }
    @media (min-width: 1040px){
        svg{
            animation: flujo 80s ease infinite;
        }
    }
    
</style>