<div class="absolute top-0 left-0 z-[-2] translate-x-[-90%] translate-y-[10%] lg:translate-x-[-70%] xl:translate-x-[-45%] xl:translate-y-[25%]">
    <div id="negIzq">
        <svg
            width="459"
            height="355"
            viewBox="0 0 459 355"
            fill="none"
        >
            <path d="M372.683 342.227C460.727 326.041 468.352 249.895 450.769 220.162C439.312 189.823 376.003 152.466 418.161 116.965C460.319 81.4635 416.885 50.4984 356.388 25.6348C295.892 0.771217 130.892 -24.4788 228.142 50.4473C325.391 125.373 95.9208 164.76 13.3509 267.228C-69.2191 369.695 262.628 362.46 372.683 342.227Z" fill="black"/>
        </svg>
    </div>
</div>

<style>
    @keyframes flujoa{
        0%{
            transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -webkit-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -moz-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -ms-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -o-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
        }
        50%{
            transform: translateX(30%) translateY(80%) rotate(-50deg) scale(.8);
            -webkit-transform: translateX(30%) translateY(80%) rotate(-50deg) scale(.8);
            -moz-transform: translateX(30%) translateY(80%) rotate(-50deg) scale(.8);
            -ms-transform: translateX(30%) translateY(80%) rotate(-50deg) scale(.8);
            -o-transform: translateX(30%) translateY(80%) rotate(-50deg) scale(.8);
        }
        100%{
            transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -webkit-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -moz-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -ms-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
            -o-transform: translateX(20%) translateY(0%) rotate(0deg) scale(1);
        }
    }
    @media (min-width: 1040px){
        svg{
            animation: flujoa 80s ease infinite;
        }
    }
</style>