<div class=" absolute top-0 left-0 z-[-3] translate-x-[-45%] translate-y-[-5%]">
    <svg
        width="641"
        height="750"
        viewBox="0 0 641 750"
        fill="none"
    >
        <path d="M389.145 697.7C287.096 804.527 14.4477 747.051 0.716951 513.872C-13.0139 280.692 202.626 255.893 232.674 129.735C262.721 3.57656 421.343 -43.6019 511.18 50.2205C601.017 144.043 517.554 209.673 549.954 298.14C582.354 386.607 663.588 407.405 634.758 502.279C605.928 597.152 491.195 590.874 389.145 697.7Z" fill="url(#paint0_linear_49_2875)"/>
        <defs>
            <linearGradient id="paint0_linear_49_2875" x1="267.713" y1="580.065" x2="460.217" y2="77.0791" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF6025"/>
                <stop offset="1" stop-color="#FF8540"/>
            </linearGradient>
        </defs>
    </svg>
</div>
